CSharp/wcf-TradeService/TradeService.Client/Service References/StockTradeServiceImplementation/StockTrade1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://http://tc.belhard.com/StockTrade" elementFormDefault="qualified" targetNamespace="http://http://tc.belhard.com/StockTrade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/StockTrade?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Belhard.TradeService" />
  <xs:element name="GetQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticker" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Belhard.TradeService" minOccurs="0" name="GetQuoteResult" nillable="true" type="q1:Quote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Belhard.TradeService" minOccurs="0" name="quote" nillable="true" type="q2:Quote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishQuoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>