CSharp/wcf-TradeService/TradeService.Client/Service References/StockTradeServiceImplementation/StockTrade.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Belhard.TradeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Belhard.TradeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Quote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ask" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bid" type="xs:decimal" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quote" nillable="true" type="tns:Quote" />
</xs:schema>