CSharp/wcf-TradeService/TradeService.Client/Service References/StockTradeServiceImplementation/StockTrade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://http://tc.belhard.com/StockTrade" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://http://tc.belhard.com/StockTrade" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://http://tc.belhard.com/StockTrade/Imports">
      <xsd:import schemaLocation="http://localhost:8888/StockTrade?xsd=xsd0" namespace="http://http://tc.belhard.com/StockTrade" />
      <xsd:import schemaLocation="http://localhost:8888/StockTrade?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8888/StockTrade?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Belhard.TradeService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockTradeService_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="IStockTradeService_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IStockTradeService_PublishQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishQuote" />
  </wsdl:message>
  <wsdl:message name="IStockTradeService_PublishQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockTradeService">
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://http://tc.belhard.com/StockTrade/IStockTradeService/GetQuote" message="tns:IStockTradeService_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://http://tc.belhard.com/StockTrade/IStockTradeService/GetQuoteResponse" message="tns:IStockTradeService_GetQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishQuote">
      <wsdl:input wsaw:Action="http://http://tc.belhard.com/StockTrade/IStockTradeService/PublishQuote" message="tns:IStockTradeService_PublishQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://http://tc.belhard.com/StockTrade/IStockTradeService/PublishQuoteResponse" message="tns:IStockTradeService_PublishQuote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>